<form id="contact" action="" method="post">
  <div class="contact-img">
    <img src="https://cdn.pixabay.com/photo/2013/07/12/13/55/letter-147563_960_720.png">
  </div>
  <div class="contact-form">
    <fieldset>
      <input placeholder="Votre nom" type="text" tabindex="1" required>
    </fieldset>
    <fieldset>
      <input placeholder="Votre email" type="email" tabindex="2" required>
    </fieldset>
    <fieldset class="fullwidth">
      <textarea placeholder="Votre message...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset class="centered halfwidth">
      <button name="submit" type="submit" id="contact-submit" data-submit="...Envoi">Envoyer</button>
    </fieldset>
  </div>
</form>
