
body {
  display: flex;
  flex-flow: column;
  max-width: 980px;
  min-height: -webkit-fill-available;
  margin: auto;
}

footer {
  flex-grow: 1;
  display: flex;
  
  .footer {
    align-self: flex-end;
  }
}
